
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Texturina', serif;
  background-color: #f5f5f5;
  line-height: 1.5;
  color: #000000;
}
header {
  font-family: "Texturina", serif;
  background-color: #454546;
  color: #ffffff;
}

.container {
  padding: 10px 30px;
}

.content {
  padding: 10px 30px;
  text-align: justify;
}

/* Estilo del menú */
.menu {
  background-color: #454546;
  padding: 20px 0;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.menu li a:hover {
  background-color: #ffffff;
  color: #ffffff;
}

.p {
  margin-bottom: 25px;
  text-align: justify;
}

.h1, h2, h3 {
text-align: center;
color: #454546;
margin-top: 60px;
margin-bottom: 25px;
}

.contenedor {
  display: flex;
  align-items: center; 
  gap: 30px;
}


.imagen {
  width: 100px;
  height: auto;
  border-radius: 10px;
}

.mosaico {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 30px;
  background-color: #f7f7f7;
}

.mosaico img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.mosaico img:hover {
  transform: scale(1.03);
}

.footer {
  padding: 10px 25px;
}